body{
    background-color: black;
    color: white;
}

section{
    background-color: rgb(60, 84, 223);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    margin: 40px;
}
.chamada-texto{
    margin-right: 5%;
}

img{
height: 200px;
}
.categoria-videos{display: flex;
overflow-x: auto;
gap: 10px
 }
